<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TBXML-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TBXML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8290352414D9F5B200ACF7E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8290353214D9F5B200ACF7E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829FA09B14D5B52A00D18697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829FA0AF14D5B52A00D18697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
